## Task 4.1

In [21]:
#Using sqlite3:

import sqlite3

conn = sqlite3.connect('bento_company.db')

### Table creation using Sqlite

```python
conn.execute(
    '''
    CREATE TABLE Kiosk (
    KioskID INTEGER UNIQUE PRIMARY KEY AUTOINCREMENT,
    Location TEXT,
    Rating REAL
);
'''
)

conn.execute(
    '''
    CREATE TABLE BentoBox (
    BentoName TEXT UNIQUE PRIMARY KEY,
    ProductionCost REAL,
    ContainEgg INTEGER,
    ContainNut INTEGER,
    ContainSeafood INTEGER
);
'''
)

conn.execute(
    '''
    CREATE TABLE KioskBento (
    KioskID INTEGER REFERENCES Kiosk(KioskID),
    BentoName TEXT REFERENCES BentoBox(BentoName),
    SellPrice REAL,
    PRIMARY KEY(KioskID, BentoName)
);
'''
)
```

## Task 4.2

In [22]:
f = open('KIOSK.txt', 'r')

text = f.read()
lines = text.split('\n')

kiosk_list = []
for line in lines:
    id, location, rating = line.split(',')
    kiosk_list.append(int(id))

    conn.execute(f'''INSERT INTO Kiosk (KioskID, Location, Rating) 
                 VALUES('{int(id)}', '{location}', '{float(rating)}')''') #run this SQL syntax


print(kiosk_list)


f.close()

[1, 2, 3, 4]

In [23]:
f = open('BENTOBOX.txt', 'r')

text = f.read()
lines = text.split('\n')

bento_list = []
for line in lines:
    name, cost, egg, nut, seafood = line.split(',')
    bento_list.append([name, float(cost)])

    conn.execute(f'''INSERT INTO BentoBox (BentoName, ProductionCost, ContainEgg, ContainNut, ContainSeafood) 
                 VALUES('{name}', '{float(cost)}', '{int(egg)}', '{int(nut)}', '{int(seafood)}')''') #run this SQL syntax

f.close()

In [24]:
mark_up = [2.60, 2.90, 2.40, 3.10]
for i in range(4):
    id = kiosk_list[i]
    for bento in bento_list:
        price = bento[1] + mark_up[i]
        conn.execute(f'''INSERT INTO KioskBento (KioskID, BentoName, SellPrice)
                     Values('{id}', '{bento[0]}', '{price}')''') #run this SQL syntax

In [25]:
conn.commit()
conn.close() #Closing connection

## Modified Task 4.3
Write a SQL statement that returns the BentoName and Price of the Bento Sets that are available from Bedok and does not contain Seafood, but contains Nuts.

```sql
SELECT KioskBento.BentoName, KioskBento.SellPrice
FROM KioskBento
INNER JOIN Kiosk
ON Kiosk.KioskID = KioskBento.kioskID
INNER JOIN BentoBox
ON BentoBox.BentoName = KioskBento.BentoName
WHERE Kiosk.Location = 'Bedok'
AND BentoBox.ContainNut = 1
AND BentoBox.ContainSeafood = 0
```